<template>
    <div class="posit-box">
      <head-top v-if="!$alipayBool" @backClick="changeBack" v-bind:data="{title:$t('message.serviceRecord'),start:true}"></head-top>
      <div class="posit" :class="{'addTopHeight': !($alipayBool)}">
        <div class="serviceRecord">
          <div class="service-list">
            <div class="service-item" v-for="item in schedules">
              <div class="service-content">
                <div class="service-top">
                  <div class="service-top-name">{{item.categoryLabel}}</div>
                  <div class="service-top-enable">{{item.statusLabel}}</div>
                </div>
                <div class="service-box">
                  <div class="service-title">{{ $t('message.about.people') }}：</div>
                  <div class="service-text">
                    <span v-for="(supplier,index) in item.suppliers">
                      {{supplier.name}}
                      <span v-if="item.suppliers.length-1 !== index">，</span>
                    </span>
                  </div>
                </div>
                <div class="service-box">
                  <div class="service-title">{{ $t('message.about.time') }} :</div>
                  <div class="service-text">{{dateTime(item.startDate,item.endDate)}}</div>
                </div>
              </div>
              <div class="service-button" @click="serviceBtn(item.id)" v-if='item.status === "U"'>{{ $t('message.serviceRecordBtn') }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
    import headTop from "../../components/headTop";
    import { ajax , PackageId , dateFormat} from '@/util/util'    
    export default {
        name: 'serviceRecord',
        data() {
            return {
                schedules:[],
            };
        },
        components:{
            headTop:headTop,
        },
        created(){
          if(!this.$path){
              PackageId(this);
          }
          const { params:{lang} } = this.$route;
          this.$i18n.locale=lang;
        },
        mounted(){
          const { path } = this.$route;
          this.gaGoogle(path);
          const {params: {projectId}} = this.$route;
          this.init(projectId)
        },
        methods:{
            changeBack(){
                this.$router.back(-1)
            },
            init(projectId){
                var params = {
                    url:`/api/project/${projectId}/schedules`,
                    type:"get",
                    success:res=>{
                        this.schedules = res.data;
                    }
                }
                ajax(params);
            },
            dateTime(startDate,endDate){
                let startDateStr = startDate.split(" ");
                let endDateStr = endDate.split(" ");
                let da1;
                if(this.$i18n.locale=="en"){
                    da1 = dateFormat(startDate, "dd/MM/yyyy");//日期
                }else{
                    da1 = dateFormat(startDate, "yyyy年MM月dd日");//日期
                }
                return da1 + "，" + startDateStr[1] + " - " + endDateStr[1];
            },
            serviceBtn(id){
                this.$router.push({
                    name:"ment",
                    params:{lang:this.$i18n.locale,projectId: this.projectId,},
                    query:{scheduleId:id}
                })
            },
        },
        
    }
</script>