<template>
    <div class="modal select-box" v-if="modalbool" v-on:click.stop="down">
        <div class="mobileSelect" v-on:click.stop>
            <div class="mobileSelect-title" v-if="$isMobile">{{$t('message.reviewRecord')}}</div>
            <div class="mobileSelect-list">
              <div class="mobileSelect-item" v-for="(item, index) in schedules" v-on:click.stop="selectOpten(item)">
                <div class="mobileSelect-date">{{dateTime(item.startDate,item.endDate)}}</div>
                <div class="mobileSelect-text">
                  <span>{{$t('message.about.people')}}：</span>
                  <span v-for="(supplier, index) in item.suppliers">
                    {{supplier.name}}
                    <span v-if="item.suppliers.length-1 !== index">，</span>                    
                  </span>
                </div>
              </div>
            </div>
        </div>
    </div>
</template>
<script>
import { dateFormat} from '@/util/util'    
export default {
    name: 'mobileSelect',
    props:{
        schedules:{
          type: Array,
          default: []
        },
    },
    data(){
        return{
            modalbool:false,
        }
    },
    mounted(){
        this.$root.eventHub.$on('showSelect', (modalbool) => {
            this.modalbool = modalbool;
        });
    },
    methods: {
      selectOpten(item){
        this.$emit('changeSelect',item);
        this.modalbool = false;
      },
      dateTime(startDate,endDate){
            let startDateStr = startDate.split(" ");
            let endDateStr = endDate.split(" ");
            let da1;
            if(this.$i18n.locale=="en"){
                da1 = dateFormat(startDate, "dd/MM/yyyy");//日期
            }else{
                da1 = dateFormat(startDate, "yyyy年MM月dd日");//日期
            }
            return da1 + "，" + startDateStr[1] + " - " + endDateStr[1];
        },
      down(){
        this.modalbool = false;
      }
    }
}
</script>
