<template>
    <div class="modal z-index" v-if="modalbool">
      <div class="modalPeople bg">
        <div class="modalPeople-title">
          <span>{{$t('message.serviceRecord')}}</span>
          <i class="modalPeople-down" @click="down" :style="{backgroundImage:'url('+require('../img/icon-cross-gray.png')+')'}"></i>
        </div>  
        <div class="serviceRecord">
          <div class="service-list">
            <div class="service-item" v-for="item in schedules">
              <div class="service-content">
                <div class="service-top">
                  <div class="service-top-name">{{item.categoryLabel}}</div>
                  <div class="service-top-enable">{{item.statusLabel}}</div>
                </div>
                <div class="service-box">
                  <div class="service-title">{{ $t('message.about.people') }}：</div>
                  <div class="service-text">
                    <span v-for="(supplier,index) in item.suppliers">
                      {{supplier.name}}
                      <span v-if="item.suppliers.length-1 !== index">，</span>
                    </span>
                  </div>
                </div>
                <div class="service-box">
                  <div class="service-title">{{ $t('message.about.time') }} :</div>
                  <div class="service-text">{{dateTime(item.startDate,item.endDate)}}</div>
                </div>
              </div>
              <div class="service-button" @click="serviceBtn(item.id)" v-if='item.status === "U"'>{{ $t('message.serviceRecordBtn') }}</div>
            </div>
          </div>
        </div>
      </div>            
    </div>
</template>
<script>
  import { ajax, dateFormat  } from '@/util/util';

export default {
    name: 'modealRecord',
    data(){
        return{
            modalbool: false,
            projectId:"",
            schedules:[]
        }
    },
    mounted(){
        this.$root.eventHub.$on('showModalRecord', (projectId) => {
            this.modalbool = true;
            this.projectId = projectId;
            this.init(projectId)
        });
    },
    methods: {
        init(projectId){
            var params = {
                url:`/api/project/${projectId}/schedules`,
                type:"get",
                success:res=>{
                    this.schedules = res.data;
                }
            }
            ajax(params);
        },
        down(){
            this.modalbool = false;
        },
        dateTime(startDate,endDate){
            let startDateStr = startDate.split(" ");
            let endDateStr = endDate.split(" ");
            let da1;
            if(this.$i18n.locale=="en"){
                da1 = dateFormat(startDate, "dd/MM/yyyy");//日期
            }else{
                da1 = dateFormat(startDate, "yyyy年MM月dd日");//日期
            }
            return da1 + "，" + startDateStr[1] + " - " + endDateStr[1];
        },
        serviceBtn(id){
            this.modalbool = false;
            this.$router.push({
                name:"ment",
                params:{lang:this.$i18n.locale,projectId: this.projectId,},
                query:{scheduleId:id}
            })
        },
    }
}
</script>
